html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0.3em;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(35, 36, 36);
}

.chat-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-thread {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

.chat-message {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.chat-input-form {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

.chat-input {
    flex: 1;
    padding: 10px;
}

.send-button {
    margin-left: 10px;
    padding: 10px;
}
